<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissões necessárias para notificações e alarmes -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoseCerta"
        tools:targetApi="34"
     android:enableOnBackInvokedCallback="true">

        <!-- Receiver interno para alarmes de notificações -->
        <receiver
            android:name=".utils.NotificationHelper$NotificationReceiver"
            android:exported="false" />

        <!-- Configuração das atividades e exportação -->
        <activity
            android:name=".views.activities.CadastroAlertaActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.EditarMedicamentoActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.CadastroMedicamentoActivity"
            android:exported="true" />
        <activity
            android:name=".views.activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.activities.AnotacaoActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.seu.pacote.app.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
